// enable the conda environment

profiles {
  conda {
    conda.enabled = true
    conda.useMamba = true
    process.conda = "${projectDir}/environment.yaml"
  }

  docker {
    docker.enabled = false
  }

  singularity {
    singularity = false
  }
}

// process of excutor and process
process {
    executor = 'slurm'
    queueSize = 1
    cpus = '10' // Default CPU setting
    memory = '32GB'
    time = '12h'

    withName: 'process_star' {
        cpus = '10'
        memory = '32GB'
        time = '12h'
    }
    withName: 'process_featurecount' {
        cpus = '10'
        memory = '32GB'
        time = '12h'
    }
    withLabel: 'big_job' {
        cpus = '20' // Overrides default CPU setting for big jobs
        memory = '64GB'
        time = '12h'
    }
}

// params of all
params {
    // base configure
    result_dir = "/hwdata/home/laojp/data/nextflow/result"
    raw_dir = "/hwdata/home/laojp/data/nextflow/data"
    sample_list = "/hwdata/home/laojp/data/nextflow/samplelist.csv"

    // reference
    reference_fasta = "/hwdata/home/laojp/database/human/ensembl/fasta/GRCh38/ensembl_105/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    reference_star = "/hwdata/home/laojp/database/human/STAR/GRCh38/ensembl_105/"
    reference_gtf = "/hwdata/home/laojp/database/human/ensembl/gtf/GRCh38/ensembl_105/Homo_sapiens.GRCh38.105.chr.gtf"

    // software
    software_fastqc = "/hwdata/home/laojp/software/fastqc/FastQC"
    software_multiqc = "/hwdata/home/laojp/software/multiqc/bin"
    software_fastp = "/hwdata/home/laojp/software/fastp"
    software_star = "/hwdata/home/laojp/software/STAR/bin"
    software_featurecount = "/hwdata/home/laojp/software/featurecount/subread/bin"
    software_rsem = "/hwdata/home/laojp/software/RSEM/bin"
}